*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width:100%;
    height:50px;
    background-color:black;
}

#btn-logout {
    cursor: pointer;
    border-radius: 10px;
    margin-left: 150px;
    margin-top:10px;
    width:7%;
    height: 30px;
    font-weight: bold;
    background-color: rgb(66, 21, 63);
    border:1px solid rgb(66, 21, 63);
    color:white;
    font-size: 15px;
   
}
#btn-logout:hover{
    color:rgb(66, 21, 63);
    background-color:white;
}

nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display:inline-block;
    margin-top: 15px;
      
}
nav ul li  a{
    color:white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a .active , a:hover{
background-color: rgb(66, 21, 63);
transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    margin-top:10px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display: none;
}
/********************************************************/
 .body_section{
        width: 100%;
        height:1350;
        overflow: hidden;
    }

/**********************************************************/
.space2{
    width:100%;
    height:30px;
}
.call_patient{
 
    float: left;
    margin-left: 5%;
    width: 90%;
    height: 80px;
    background-color: rgba(212, 187, 203, 0.979);
    border-radius: 20px;
    
}

.call_patient input{
    
    width: 25%;
    height:40px;
    border-radius: 5px;
   border: 1px solid rgb(66, 21, 63);
   margin-left: 400px;
   margin-top: -30px;
}
.call_patient h1{
    padding-top: 25px;
    margin-left: 5%;
    color: rgb(0, 0, 0);
}
:placeholder-shown{
    text-align: center;
}


#btn-search{
    width:10%;
    height:35px;
    color:white;
    background-color: rgb(66, 21, 63);
    border:1px solid rgb(66, 21, 63);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
   float: right;
   margin-right: 10%;
   margin-top: -60px;
   
}
#btn-search:hover{
    color:rgb(66, 21, 63);
    background-color:white;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    height: 300px;
   margin-bottom: 10px;
   border: 1px solid black;
  }
  
/***********************************/
.buttom{
width:100%;
height:100px;
float: left;

}
#btn-edit{
    width:10%;
    height:35px;
    background-color: rgb(66, 21, 63);
    border:1px solid rgb(66, 21, 63);
    color:white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10%;
    margin-top: 35px;
    float: right;

    
}
[value]{
    text-align: center;
}
#btn-edit:hover{
    color:rgb(66, 21, 63);
    background-color:white;
}


/************************************************************/
.space1{
    width: 100%;
    height:60px;
  
}
.call_patient2{
    width: 50%;
    float: left;
}
  .call_patient2 form{ 
     margin-left: 10%;
     margin-top: 15%;
}
.input-container2 {
    margin-top: 5px;
        width: 90%;
        height:40px;
        border-radius: 5px;
        border: 1px solid rgb(66, 21, 63);
    
}
.input-container2 h4{
    text-align: center;
    margin-top: 10px;
    opacity: 0.5;
}

.area{
    width: 50%;
    float: left;
    height:384px;
     
}

.area label{
    color: black;
    font-weight: bold;
    font-size: 20px; 
    margin-left: 30%;
}


/********************************************************/


.footer_part {
    width:100%;
    height:45px;
    background-color:black;
}
.footer_part nav {
    width:50%;
    padding-top: 20px;
}
.space_3{
    padding-top: 10px;
}

.footer_part p {
    font-weight: bold;
    right: 350px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    color:white;
}
/*******************************************************/
@media only screen and (min-width:320px) and (max-width:420px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:40%;
        background:rgba(66, 50, 60, 0.979);
        top:50px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0 ;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover , a.active{
        background: none;
        color:rgb(185, 169, 185);
    }
    #check:checked ~ ul{
        left:0;
    }
    #btn-logout {
        cursor: pointer;
        border-radius: 10px;
        float: left;
        margin-left: 2%;
        margin-top:10px;
        width:20%;
        height: 30px;
        font-weight: bold;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        font-size: 15px;
       
    }
    .call_patient input{
    
        width: 75%;
        height:30px;
        border-radius: 5px;
        border: 1px solid rgb(66, 21, 63);
        float: left;
        margin-left: 13%;
        margin-top: 10px;
      
    }
    .call_patient h1{
        padding-top: 15px;
        margin-left: 5%;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    #btn-search{
        width:20%;
        height:30px;
        color:white;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
       float: right;
       margin-right: 10%;
       margin-top: -65px;
       
    }
    .call_patient2{
        width: 100%;
        float: left;
        
    }
    .call_patient2 form {
        margin-left: 10%;
        margin-top: 5%;
    }
    .area{
        width: 100%;
        float: left;
        height:400px;
         
    }
    
    .area label{
        color: black;
        font-weight: bold;
        font-size: 20px; 
       margin-left: 12%;
    }
    #btn-edit{
        width:20%;
        height:35px;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-right: 10%;
        margin-top: 35px;
        float: right;
    
        
    }

}
/*******************************************************/
@media only screen and (min-width:421px) and (max-width:570px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:40%;
        background:rgba(66, 50, 60, 0.979);
        top:50px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0 ;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover , a.active{
        background: none;
        color:rgb(185, 169, 185);
    }
    #check:checked ~ ul{
        left:0;
    }
    #btn-logout {
        cursor: pointer;
        border-radius: 10px;
        float: left;
        margin-left: 2%;
        margin-top:10px;
        width:20%;
        height: 30px;
        font-weight: bold;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        font-size: 15px;
       
    }
    .call_patient input{
    
        width: 75%;
        height:30px;
        border-radius: 5px;
        border: 1px solid rgb(66, 21, 63);
        float: left;
        margin-left: 13%;
        margin-top: 10px;
      
    }
   
    .call_patient h1{
        padding-top: 15px;
        margin-left: 5%;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    #btn-search{
        width:20%;
        height:30px;
        color:white;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
       float: right;
       margin-right: 10%;
       margin-top: -65px;
       
    }
    .call_patient2{
        width: 100%;
        float: left;
        
    }
    .call_patient2 form {
        margin-left: 10%;
        margin-top: 5%;
    }
    .area{
        width: 100%;
        float: left;
        height:400px;
         
    }
    
    .area label{
        color: black;
        font-weight: bold;
        font-size: 20px; 
        text-align: center;
    }
    #btn-edit{
        width:20%;
        height:35px;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-right: 10%;
        margin-top: 35px;
        float: right;
    
        
    }

}
/*******************************************************/
@media only screen and (min-width:571px) and (max-width:620px){
   
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:40%;
        background:rgba(66, 50, 60, 0.979);
        top:50px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0 ;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover , a.active{
        background: none;
        color:rgb(185, 169, 185);
    }
    #check:checked ~ ul{
        left:0;
    }
    #btn-logout {
        cursor: pointer;
        border-radius: 10px;
        float: left;
        margin-left: 2%;
        margin-top:10px;
        width:20%;
        height: 30px;
        font-weight: bold;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        font-size: 15px;
       
    }
    .call_patient input{
    
        width: 75%;
        height:30px;
        border-radius: 5px;
        border: 1px solid rgb(66, 21, 63);
        float: left;
        margin-left: 13%;
        margin-top: 10px;
      
    }
    .call_patient h1{
        padding-top: 15px;
        margin-left: 5%;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    #btn-search{
        width:20%;
        height:30px;
        color:white;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
       float: right;
       margin-right: 10%;
       margin-top: -65px;
       
    }
    .call_patient2{
        width: 100%;
        float: left;
        
    }
    .call_patient2 form {
        margin-left: 10%;
        margin-top: 5%;
    }
    .area{
        width: 100%;
        float: left;
        height:400px;
         
    }
    
    .area label{
        color: black;
        font-weight: bold;
        font-size: 20px; 
      text-align: center;
    }
    #btn-edit{
        width:20%;
        height:35px;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-right: 10%;
        margin-top: 35px;
        float: right;
    
        
    }

}
/*******************************************************/
@media only screen and (min-width:621px) and (max-width:820px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:40%;
        background:rgba(66, 50, 60, 0.979);
        top:50px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0 ;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover , a.active{
        background: none;
        color:rgb(185, 169, 185);
    }
    #check:checked ~ ul{
        left:0;
    }
    #btn-logout {
        cursor: pointer;
        border-radius: 10px;
        float: left;
        margin-left: 2%;
        margin-top:10px;
        width:20%;
        height: 30px;
        font-weight: bold;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        font-size: 15px;
       
    }
    .call_patient input{
    
        width: 50%;
        height:30px;
        border-radius: 5px;
        border: 1px solid rgb(66, 21, 63);
        float: left;
        margin-left: 25%;
        margin-top: 10px;
      
    }
    .call_patient h1{
        padding-top: 15px;
        margin-left: 5%;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    #btn-search{
        width:20%;
        height:30px;
        color:white;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
       float: right;
       margin-right: 10%;
       margin-top: -65px;
       
    }
    .call_patient2{
        width: 100%;
        float: left;
        
    }
    .call_patient2 form {
        margin-left: 10%;
        margin-top: 5%;
    }
    .area{
        width: 100%;
        float: left;
        height:400px;
         
    }
    
    .area label{
        color: black;
        font-weight: bold;
        font-size: 20px; 
  text-align: center;
    }
    #btn-edit{
        width:20%;
        height:35px;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-right: 10%;
        margin-top: 35px;
        float: right;
    
        
    }

}
/*******************************************************/
@media only screen and (min-width:821px) and (max-width:920px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:40%;
        background:rgba(66, 50, 60, 0.979);
        top:50px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0 ;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover , a.active{
        background: none;
        color:rgb(185, 169, 185);
    }
    #check:checked ~ ul{
        left:0;
    }
    #btn-logout {
        cursor: pointer;
        border-radius: 10px;
        float: left;
        margin-left: 2%;
        margin-top:10px;
        width:20%;
        height: 30px;
        font-weight: bold;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        font-size: 15px;
       
    }
    .call_patient input{
        width: 50%;
        height:30px;
        border-radius: 5px;
        border: 1px solid rgb(66, 21, 63);
        float: left;
        margin-left: 25%;
        margin-top: 10px;
      
    }
    .call_patient h1{
        padding-top: 15px;
        margin-left: 5%;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    #btn-search{
        width:20%;
        height:30px;
        color:white;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
       float: right;
       margin-right: 10%;
       margin-top: -65px;
       
    }
    .call_patient2{
        width: 100%;
        float: left;
        
    }
    .call_patient2 form {
        margin-left: 10%;
        margin-top: 5%;
    }
    .area{
        width: 100%;
        float: left;
        height:400px;
         
    }
    
    .area label{
        color: black;
        font-weight: bold;
        font-size: 20px; 
        text-align: center;
    }
    #btn-edit{
        width:20%;
        height:35px;
        background-color: rgb(66, 21, 63);
        border:1px solid rgb(66, 21, 63);
        color:white;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-right: 10%;
        margin-top: 35px;
        float: right;
    
    
        
    }

}
/*******************************************************/
@media only screen and (min-width:921px) and (max-width:1100px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:40%;
        background:rgba(66, 50, 60, 0.979);
        top:50px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0 ;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover , a.active{
        background: none;
        color:rgb(185, 169, 185);
    }
    #check:checked ~ ul{
        left:0;
    }
}
    /******************************************************************/
@media only screen and (min-width:1101px) and (max-width:1500px){
        .body_section{
            width:100%;
            height:950px;
            overflow: hidden;
        }
    }
    /************************************************************/
   